*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: azure;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 0;
    height: 100px;
    /* width: 100%; */
    padding:  20px;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    margin: 0;
}

button{
    padding: 20px;
   
    /* margin: 10px; */
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.code-text{
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
}

li{

}

.progress-bar{
    height: 40px;
    width: 40px;
}

.progress-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ccc;
    clip-path: polygon(50% 0%, 50% 100%, 0% 100%);
    background-color: #07c;
    transform-origin: center;
    animation: progress-animation 5s linear forwards;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  @keyframes progress-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  



